header.jumbotron.jumbotron-fluid {
    text-align: center;
    background-color: #0C2F52;
    color: white;
    font-family: "Reem Kufi", sans-serif;
}

header.jumbotron.jumbotron-fluid {
    border-bottom: 5px solid #cc0000;
}

header.jumbotron.jumbotron-fluid h3 {
    font-size: 42px;
}

header.jumbotron.jumbotron-fluid p {
    font-size: 18px;
}

#search-form {
    width: 228px;
    margin: 0 auto;
}

.up-arrow {
    content: '\25BC';
}